<div class="task-form">
  <form method="POST" action="/">
    <input class="input" type="text" name="task" placeholder="I need to...">
    <button class="task-form__button button" type="submit">Create</button>
  </form>

  <% if (locals.error) { %>
    <div class="alert alert--error">
      <%= error %>
    </div>

  <% } else if (locals.success) { %>
    <div class="alert alert--success">
      Task was added!
    </div>
  <% } %>

</div>

<h2> Todo List </h2>

<% if (!tasksTodo) { %>

  <h3 class="no-tasks">There are no tasks.</h3>

<% } else { %>

  <%- include("./partials/taskList", tasksTodo) %>

<% } %>


